---
layout: page
---

<p>A list of all posts</p>

<ol reversed class="postlist">
    {% for post in collections.posts %}
    <li class="postlist-item">
        <div>
            <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        </div>
        <time class="postlist-date" datetime="{{ post.date }}">{{ post.date }}</time>
    </li>
    {% endfor %}
</ol>
