---
layout: page
---

<h1>Eleventy Sample</h1>

<p>
    <span>I've played around with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, a static site generator.</span><br/>
    <span>I started simple and added more and more features I find reasonable for my website. You will find one feature per post below.</span>
</p>

<p class="github-link">
    <span>This project is on GitHub:</span>
    <a href="https://github.com/andreas-mausch/eleventy-sample" target="_blank"><img src="{{ "/images/github.svg" | url }}" alt="GitHub Icon"/></a>
</p>

<h2>A list of all posts</h2>

<ol reversed class="postlist">
    {% for post in collections.posts %}
    <li class="postlist-item">
        <div class="postlist-item-thumbnail">
            {% postThumbnail post %}
        </div>
        <div class="postlist-item-content">
            <div>
                <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            </div>
            <time class="postlist-date" datetime="{{ post.date | isoDateTime }}">{{ post.date | isoDate }}</time>
        </div>
    </li>
    {% endfor %}
</ol>
