---
title: Eleventy Sample
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ "/styles/style.css" | url }}" />
{% if extraStyles and "katex" in extraStyles %}
    <link rel="stylesheet" href="{{ "/styles/katex.css" | url }}" />
{% endif %}
    <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | url }}" sizes="any" />
  </head>
  <body>
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>
