---
layout: page
---

<script src="{{ "/scripts/index.js" | url }}"></script>

<h1>This is a blog post</h1>

{% if content | toc %}
  <aside>
    {{ content | toc | safe }}
  </aside>
{% endif %}

{{ content | safe }}
