---
layout: page
---

<h1>Blog post: {{ title | safe }}</h1>

{% if toc and content | toc %}
  <aside>
    {{ content | toc | safe }}
  </aside>
{% endif %}

{{ content | safe }}

<script async src="/scripts/index.js"></script>
