---
layout: page
---

<script src="{{ "/scripts/index.js" | url }}"></script>

<h1>This is a blog post</h1>

<h2>{{ title | safe }}</h2>

{% if toc and content | toc %}
  <aside>
    {{ content | toc | safe }}
  </aside>
{% endif %}

{{ content | safe }}
