@use "prism-themes/themes/prism-dracula.css";

pre[class*="language-"] {
  padding: 0.5em;
}

pre>code[class*="language-"],
code[class*="language-"] {
  counter-reset: lineNumber;
  font-size: 9pt;
}

code[data-filename]::before {
  color: #ccc;
  content: attr(data-filename);
  display: block;
  font-family: courier, courier new, serif;
  font-size: 11pt;
  font-weight: 100;
  padding-left: 0.6em;
  user-select: none;
}

code[class*="language-"] .highlight-line::before {
  border-right: 1px solid #404040;
  color: #858585;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 0.6em;
  padding-right: 0.6em;
  text-align: right;
  user-select: none;
  width: 1.4em;
}
