@use "prism-themes/themes/prism-dracula.css";

.code-block {
  position: relative;
}

.code-block,
code[class*="language-"] {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 9pt;
}

.code-block > button {
  opacity: 0;
  transition: visibility 0.3s linear,opacity 0.3s linear;
  visibility: hidden;
}

.code-block:active > button,
.code-block:focus > button,
.code-block:hover > button {
  opacity: 1;
  visibility: visible;
}

pre[class*="language-"] {
  padding: 0.5em;
}

code[class*="language-"] {
  counter-reset: lineNumber;
}

code[data-filename]::before {
  color: #ccc;
  content: attr(data-filename);
  display: block;
  user-select: none;
}

code[class*="language-"] .highlight-line::before {
  border-right: 1px solid #404040;
  color: #858585;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 0.6em;
  padding-right: 0.6em;
  text-align: right;
  user-select: none;
  width: 1.4em;
}

.copy-to-clipboard {
  font-size: inherit;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
