body {
  background-color: #ddd;
}

.content {
  border: 2px solid $highlight-color;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 1200px;
  padding: 40px;
}

.postlist-item {
  flex-direction: row;
}
