table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #dde4e8;
}

table tr:hover {
  background-color: #fff;
}

table th {
  background-color: #4090ff;
  color: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
}
