table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #dde4e8;
}

table tr:hover {
  background-color: #fff;
}

table th {
  background-color: #459721;
  color: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
}

.hexview-table {
  font-size: 87.5%;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  td {
    padding: 4px;
  }

  td:hover {
    filter: invert(100%) hue-rotate(170deg) brightness(150%);
    backdrop-filter: invert(20%);
  }
}
