@use "toastify-js/src/toastify.css";
@use "img-comparison-slider/dist/styles.css";
@use "_code.scss";
@use "_image-carousel.scss";
@use "_image-comparison-slider.scss";
@use "_table.scss";

$background-color: #eee;
$highlight-color: #459721;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.content {
  background-color: $background-color;
  padding: 5px;
}

img,
video {
  height: auto;
  max-width: 100%;
}

.image-comparison-slider img {
  object-fit: contain;
  width: auto;
}

a {
  color: $highlight-color;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: scale-color($highlight-color, $lightness: 30%);
    text-decoration: underline;
  }
}

.postlist {
  padding-left: 0;
}

.postlist-item {
  border-bottom: 2px solid #aaa;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 12px;

  &:last-child {
    border-bottom: 0;
  }
}

.postlist-item-thumbnail {
  margin-right: 30px;
  max-height: 120px;
  width: 120px;
}

.postlist-item-thumbnail img {
  aspect-ratio: 16/10;
  object-fit: contain;
}

.postlist-item-content {
  flex-grow: 1;
}

.postlist-link {
  font-size: 14pt;
}

.toc {
  border: 1px solid #a2a9b1;
  font-size: 11pt;
  padding: 7px;
}

.toc ol {
  list-style-type: none;
}

.toc > ol {
  margin: 0;
  padding: 0;
}

.external-link::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 11px;
  margin-left: 4px;
  width: 11px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  visibility: visible;
}

.task-list {
  list-style-type: none;
  padding-left: 0;
}

kbd {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 2px;
}

.quote {
  margin: 0;
}

blockquote {
  background: #ccc;
  border-radius: 0.5em;
  font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
  font-size: 11pt;
  padding: 0.3em 1em;
}

blockquote,
figcaption {
  margin: 0.3em;
}

figcaption {
  font-style: italic;
}

.github-link {
  display: flex;
}

.github-link span {
  align-self: center;
  margin-right: 10px;
}

.github-link img {
  width: 50px;
}

@media only screen and (min-width: 481px) {
  @import "_large";
}

@media only print {
  @import "_print";
}
