@use "toastify-js/src/toastify.css";

$background-color: #ddd;
$brand-color: #2a7ae2;

body {
  background-color: $background-color;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
  width: auto;
}

.postlist {
  padding-left: 0;
}

.postlist-item {
  list-style-type: none;

  a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
